In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet(r'C:\Users\eelil\OneDrive\Desktop\Capstone\Machine_Learning_Analysis_of_Bank_Fraud\cust_loc.parquet')

In [5]:
df.head()

,city,state,lat_long,cust_lat,cust_long
0,Moravian Falls,NC,"[36.102686500000004, -81.18158238008564]",36.102687,-81.181582
1,Orient,WA,"[48.8660142, -118.2027814]",48.866014,-118.202781
2,Malad City,ID,"[42.1915872, -112.250798]",42.191587,-112.250798
3,Boulder,MT,"[46.236595, -112.120834]",46.236595,-112.120834
4,Doe Hill,VA,"[38.4320658, -79.4444882]",38.432066,-79.444488