In [9]:
import pandas as pd
import os

In [6]:
import wandb
run = wandb.init()
artifact = run.use_artifact('lhan122-student/credit_card_fraud/final_credit_card_data:v0', type='dataset')
artifact_dir = artifact.download()

wandb: Using wandb-core as the SDK backend.  Please refer to https://wandb.me/wandb-core for more information.
wandb: Currently logged in as: lhan122 (lhan122-student). Use `wandb login --relogin` to force relogin

wandb: Downloading large artifact final_credit_card_data:v0, 104.22MB. 1 files...
wandb:   1 of 1 files downloaded.
Done. 0:0:4.1

In [10]:
file_path = os.path.join(artifact_dir, "final_credit_card_fraud.parquet")
df = pd.read_parquet(file_path)

In [11]:
df.head()

,trans_dt,cc_num,merchant,category,amt,state,lat,long,job,dob,...,day,quarter,week,day_of_week,time,hour,trans_by_last_hr,trans_by_last_day,amt_by_last_hr,age_at_trans
0,2019-01-01 12:47:15,60416207185,"fraud_Jones, Sawayn and Romaguera",misc_net,7.27,WY,43.0048,-108.8964,None,1986-02-17,...,1,1,1,1,12:47:15,12,3.0,5.0,203.48,32.870637
1,2019-01-02 08:44:57,60416207185,fraud_Berge LLC,gas_transport,52.94,WY,43.0048,-108.8964,None,1986-02-17,...,2,1,1,2,08:44:57,8,1.0,1.0,10.95,32.873374
2,2019-01-02 08:47:36,60416207185,fraud_Luettgen PLC,gas_transport,82.08,WY,43.0048,-108.8964,None,1986-02-17,...,2,1,1,2,08:47:36,8,1.0,3.0,33.77,32.873374
3,2019-01-02 12:38:14,60416207185,fraud_Daugherty LLC,kids_pets,34.79,WY,43.0048,-108.8964,None,1986-02-17,...,2,1,1,2,12:38:14,12,1.0,3.0,653.11,32.873374
4,2019-01-02 13:10:46,60416207185,fraud_Beier and Sons,home,27.18,WY,43.0048,-108.8964,None,1986-02-17,...,2,1,1,2,13:10:46,13,1.0,3.0,106.58,32.873374