In [1]:
import pandas as pd

In [4]:
data = r'C:\Users\eelil\Downloads\final_credit_card_fraud.parquet'

In [16]:
df = pd.read_parquet(data)
csv_file = 'final_dataset.csv'

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 28 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cc_num             1296675 non-null  int64
 1   merchant           1296675 non-null  category
 2   category           1296675 non-null  category
 3   amt                1296675 non-null  float64
 4   lat                1296675 non-null  float64
 5   long               1296675 non-null  float64
 6   job                442353 non-null   object
 7   trans_num          1296675 non-null  object
 8   merch_lat          1296675 non-null  float64
 9   merch_long         1296675 non-null  float64
 10  is_fraud           1296675 non-null  int64
 11  trans_type         1296675 non-null  int64
 12  cust_lat           1286954 non-null  float64
 13  cust_long          1286954 non-null  float64
 14  trans_distance_km  1286954 non-null  float64
 15  merch_cust_km      1296675 non-null  float64
 16  date               1296675 non-null  object
 17  year               1296675 non-null  int32
 18  month              1296675 non-null  int32
 19  day                1296675 non-null  int32
 20  quarter            1296675 non-null  int32
 21  week               1296675 non-null  UInt32
 22  day_of_week        1296675 non-null  int32
 23  hour               1296675 non-null  int32
 24  trans_by_last_hr   1296675 non-null  float64
 25  trans_by_last_day  1296675 non-null  float64
 26  amt_by_last_hr     1296675 non-null  float64
 27  age_at_trans       1296675 non-null  float64
dtypes: UInt32(1), category(2), float64(13), int32(6), int64(3), object(3)
memory usage: 227.6+ MB

In [18]:
df.dropna(subset=["cust_lat", "cust_long", "trans_distance_km"], inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1286954 entries, 0 to 1294615
Data columns (total 28 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   cc_num             1286954 non-null  int64
 1   merchant           1286954 non-null  category
 2   category           1286954 non-null  category
 3   amt                1286954 non-null  float64
 4   lat                1286954 non-null  float64
 5   long               1286954 non-null  float64
 6   job                436721 non-null   object
 7   trans_num          1286954 non-null  object
 8   merch_lat          1286954 non-null  float64
 9   merch_long         1286954 non-null  float64
 10  is_fraud           1286954 non-null  int64
 11  trans_type         1286954 non-null  int64
 12  cust_lat           1286954 non-null  float64
 13  cust_long          1286954 non-null  float64
 14  trans_distance_km  1286954 non-null  float64
 15  merch_cust_km      1286954 non-null  float64
 16  date               1286954 non-null  object
 17  year               1286954 non-null  int32
 18  month              1286954 non-null  int32
 19  day                1286954 non-null  int32
 20  quarter            1286954 non-null  int32
 21  week               1286954 non-null  UInt32
 22  day_of_week        1286954 non-null  int32
 23  hour               1286954 non-null  int32
 24  trans_by_last_hr   1286954 non-null  float64
 25  trans_by_last_day  1286954 non-null  float64
 26  amt_by_last_hr     1286954 non-null  float64
 27  age_at_trans       1286954 non-null  float64
dtypes: UInt32(1), category(2), float64(13), int32(6), int64(3), object(3)
memory usage: 235.7+ MB