In [ ]:
#adding libraries
import numpy as np
import pandas as pd

In [ ]:
'''
Need to rename 'trans_date_trans_time' - but MUST REMEMBER TO INPUT THE NEW COLUMN NAME -
OLD NOTES HAVE THE OLD COLUMN NAME - new name is 'trans_dt'
'''

In [ ]:
###FIXME: COLUMNS TO DROP

#unnamed column
df.drop(df.columns[df.columns.str.contains(
    'unnamed', case=False)], axis=1, inplace=True)

drop_columns = ['first', 'last', 'gender', 'street', 'zip', 'merch_zipcode', 'unix_time', 'city_pop']

In [ ]:
###FIXME: DROPING DUPLICATES
df.drop_duplicates(inplace=True)

In [ ]:
###FIXME: CHANGING DATA TYPES
datatime_col = ['trans_data_trans_time', 'dob']
category col = ['merchant', 'category', 'city', 'state', 'job', 'is_fraud']

In [ ]:
###FIXME: COLUMNS I'M KEEPING (at least for now)
col_labels =['trans_num', 'trans_data_trans_time',   #transaction tracking
             'cc_num', 'dob', 'city', 'state', 'job', #customer details
             'lat', 'long', 'category', 'is_fraud', 'amt', #transaction details
             'city_pop', #geographic description of trans location 
             'merchant', 'merch_lat', 'merch_long'] #merchant details

In [ ]:
###FIXME: CHANGING DATATYPES

#DATETIME
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df['dob'] = pd.to_datetime(df['dob'])

#CATEGORY
df[['category', 'merchant', 'job', 'is_fraud', 'state', 'city']] = 
    df[['category', 'merchant', 'job', 'is_fraud', 'state', 'city']].astype('category')

In [1]:
cc_counts = df.groupby('cc_num', observed=True).size()
sorted_cc = cc_counts.sort_values()
#plotting the number of transactions for low to high to see
#if there are typical transaction rates
plt.figure(figsize=(12,10))
plt.bar(range(len(sorted_cc)), sorted_cc)
plt.xlabel('CC Account')
plt.ylabel('Number of Transactions')
plt.title('Number of Transactions for Each Account', fontsize=16)

plt.show()

IndentationError: unexpected indent (3902920879.py, line 2)

In [ ]:
### FIXME: NEW COLUMN STAGING


online - 'shopping_net', 'misc_net', 'grocery_net'
in person - 'gas_transport', 'grocery_pos', 'shopping_pos', 'misc_pos', 'misc_pos', 
unknown - 'home', 'kids_pets', 'entertainment', 'food_dining', 'personal_care', 'health_fitness', 'travel'

In [ ]:
#FIXME MORE COLUMN STAGING
'transaction_type' : Online/In-Person/Mixed Indicator
'transaction_distance': The distance between transaction long/lat and user's cords
'merch_distance': The distance between the merchant's lat/lon and the user's city/state
'location_match': A categorical column indicating whether the transactio location matches the user's city/state

### New Column Ideas
**Online/In-Person/Mixed Indicator**
- Name: "transaction_type"
- Type: Category
- Values: 0: Unknown/Mixed, 1: Online, 2: In-Person
- 
###NOTES ABOUT LAT AND LONG - THEY HAVE LOW NUMBER OF UNIQUE VALUES###

**Distance From Transaction to Card Holder**
- Distance between the transaction's latitude/longitude and the user's city/state coordinates
- Name: "transactional_distance"
- Type: Float

**Merchant Distance**
- Distance between the merchant's latitude/longitude (merch_long, merch_lat) and the user's city/state.
- Name: "merch_distance"
- Type: Float

**Location Match Indicator**
- Indicates whether the transaction location matches the user's city/state.
- Name: "location_match"
- Type: Category
- Values: 1: Matches, 0: Does not match

Processing resources and time will determine if columns are added. This will be researched further during feature creation.

In [ ]:
### New Column Ideas
**Latitude and Longitude for Customer's City**
- Name: 'cust_lat' & 'cust_long'
- Type: Float

Create two new columns, which will be populated based on the 'city' and 'state' pair vaules. Once created, the 'city' column can be dropped to prevent false patterns.

In [ ]:
New Column IdeasÂ¶
Separate fields for Date, Year, Month, Day

Name: 'date', 'year', 'month', 'day'
Type: Various
To analyze specific transaction patterns by specific date and time components.
Week & Quarter

Name: 'week' & 'quarter'
Type: Category
To analyze seasonal patterns and time-related outliers.
Running Transaction Averages and Counts

Name: 'trans_by_last_hr', 'hourly_trans_avg','trans_by_last_day', 'daily_trans_avg', 'amt_last_hour', 'amt_last_day', 'avg_hr_amt', 'avg_daily_amt'
Type: Float
To track spending patterns for individual customers, enabling the detection of unusual spikes in transaction frequency or amount.

Columns to be renamed - 'trans_date_trans_time' to 'trans_dt'

Columns that will be dropped before feature creation- 'unnamed', 'first', 'last', 'gender', 'street', 'zip', 'merch_zipcode', 'unix_time'

- no duplicates found

###Data Type Changes
- datetime - 'trans_dt', 'dob'
- category 'merchant', 'category', 'city', 'state', 'job', 'is_fraud'

###Potential New Features:
'transaction_type', 'merch_distance', 'location_match',  'cust_lat', 'cust_long', 'date', 'year', 'month', 'day', 'week' & 'quarter', 'trans_by_last_hr', 'hourly_trans_avg','trans_by_last_day', 'daily_trans_avg', 'amt_last_hour', 'amt_last_day', 'avg_hr_amt', 'avg_daily_amt'

Columns that will not be changed - 'is_fraud', 'amt', 'cc_num', 'lat', 'long', 'merch_lat', 'merch_long', 'state'

Columns to be dropped after being used to make new features: 'city',

Summaries from the column analysis:


- **Less than 1% of the transactions are fraudulent.** **While it makes up over 4% of the transaction amount.** The 'is_fraud' column does not be adjusted.
- For the amt column - Min Transactional Amount $1.00 and Max Transactional Amount $28,948.90, This plot highlights a relatively large number of outliers at the higher end of the transaction amounts. No issues requiring changes to the 'amt' column were identified at this stage.
- The 'category' column contains 14 unique values representing transaction types. Based on the names:

1. **Online Transactions:** Categories such as 'shopping_net', 'misc_net', and 'grocery_net' include 'net', likely indicating online transactions.
2. **In-Person Transactions:** Categories such as 'grocery_pos', 'shopping_pos', 'misc_pos', and 'gas_transport' include 'pos' or are typical in-person transactions (e.g., gas purchases).
3. **Unknown or Mixed:** Categories like 'home', 'kids_pets', 'entertainment', 'food_dining', 'personal_care', 'health_fitness', and 'travel' lack clear indicators and could represent either online or in-person transactions.

Additional research on Kaggle yielded no further details about the column's interpretation. This column will not be adjusted further, but ideas have been generated for potential new columns to be added during preprocessing.

### New Column Ideas
**Online/In-Person/Mixed Indicator**
- Name: 'transaction_type'
- Type: Category
- Values: 0: Unknown/Mixed, 1: Online, 2: In-Person

**Distance From Transaction to Card Holder**
- Distance between the transaction's latitude/longitude and the user's city/state coordinates
- Name: 'transactional_distance'
- Type: Float

**Merchant Distance**
- Distance between the merchant's latitude/longitude (merch_long, merch_lat) and the user's city/state.
- Name: 'merch_distance'
- Type: Float

**Location Match Indicator**
- Indicates whether the transaction location matches the user's city/state.
- Name: 'location_match'
- Type: Category
- Values: 0: Does not match, 1: Matches 

Processing resources and time will determine if columns are added. This will be researched further during feature creation.

Location Columns - 'lat', 'long', 'merch_lat', 'merch_long', 'city', 'state'
Smallest value lat = 20.0271
Largest value lat = 66.6933
Smallest value long = -165.6723
Largest value long = -67.9503
Smallest value merch_lat = 19.027785
Largest value merch_lat = 67.510267
Smallest value merch_long = -166.671242
Largest value merch_long = -66.950902

unique values:
lat               968
long              969
merch_lat     1247805
merch_long    1275745
dtype: int64

The data appears to have been anonymized or artificially generated, as indicated by the square clustering observed on the Merchant Locations map and the relatively low number of unique values in the 'lat' and 'long' columns. No adjustments will be made to these columns

- The 'state' column has 50 US states and DC for Washington DC.
- The 'city' column has 894 unique values.
- There are 928 unique value pairs representing customer locations, so some cities share names, which might look like a false pattern. 
- There are 983 unique customer credit card numbers, so some cities have multiple customers.

#### New Column Ideas
**Latitude and Longitude for Customer's City**
- Name: 'cust_lat' & 'cust_long'
- Type: Float

Create two new columns, which will be populated based on the 'city' and 'state' pair vaules. Once created, the 'city' column can be dropped to prevent false patterns. No further changes will be made to the 'state' column. 

ranges of transactions 
(Timestamp('2019-01-01 00:00:18'), Timestamp('2020-06-21 12:13:37'))

This dataset has records for 983 customer, and number of transactions a single customer makes ranges from 7 to 3,123.

The 'cc_num' column reveals that transaction frequencies tend to cluster together. No changes will be made to the 'cc_num' column, as it is needed for identifying individual customers. Plans to use this column for creating new features, such as transaction patterns and spending behaviors, have already been outlined.

- 693 merchants, The range of transaction frequency by merchant range from 727 to 4403.
- This plot shows that merchant transaction amounts can vary significantly from one merchant to the next, as does the number of transactions per merchant. This column will not be adjusted at this time.


city_pop
- There are 879 unique city population values but 928 unique customer locations, so some cities have the same population value.
- The city_pop column displays a wide variation, with values ranging from 23 to 2,906,700. Concerned about potential inaccuracies, I conducted further investigation. A cursory search for Notrees, Texas, found its population to be approximately 20 in 2009, aligning closely with the dataset. However, another search for West Bethel, ME, revealed a significant discrepancy, as its population was 2,504 according to [Wikipedia](https://en.wikipedia.org/wiki/Bethel,_Maine). Similar inconsistencies were found for other cities. Given the unreliable nature of the city_pop data, I have decided to drop this column from the analysis.

- job column will need to be stripped and lowered
- The dataset has 494 unique job titles, with each title appearing one to six times. After sorting the column values, I noticed similar but slightly different job titles. I ran RapidFuzz with a similarity threshold of 80 to identify potential matches, but this resulted in overly broad groupings. To improve accuracy, I changed the similarity threshold to 95, which reduced the matches to 81 from 144. During the preprocessing phase, I plan to replace the less common variations of job titles with the most frequently used version for consistency and standardization.
- This plot highlights that the majority of account holders were born between the 1960s and 1990s. Birthdays at either extreme could indicate potential fraud, especially for account holders under 18 at the time of the transaction.

**New Column Idea**
- Name: 'age_at_trans'
- Type: Float
- This column will have the customer's age (in years) at the time of the transaction to see if it is an indicator of fraud.