In [1]:
import pandas as pd
import logging
import wandb
import os
import wandb

In [8]:
#loading cleaned dataset from WandB
run = wandb.init()
artifact = run.use_artifact('lhan122-student/credit_card_fraud/cleaned_credit_card_data:latest', type='dataset')
artifact_dir = artifact.download()
data/customer_locations.csv

wandb: Downloading large artifact cleaned_credit_card_data:latest, 85.55MB. 1 files...
wandb:   1 of 1 files downloaded.
Done. 0:0:9.4

In [31]:
## creating mapping for customer location 
cust_loc = df[['city', 'state']].drop_duplicates()

In [32]:
cust_loc

                   city state
0        Moravian Falls    NC
1                Orient    WA
2            Malad City    ID
3               Boulder    MT
4              Doe Hill    VA
...                 ...   ...
1186804       Nicholson    PA
1190005        Lockhart    TX
1230734      Moss Point    MS
1258483      Queen Anne    MD
1275589        Freeport    ME

[928 rows x 2 columns]

In [34]:
#getting lat and long values for city and state
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapi")
def get_lat_long(city, state):
    try:
        location = geolocator.geocode(f"{city}, {state}")
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        logger.error(f"Error fetching location for {city}, {state}: {e}")
        return None, None

# apply geocoding 
cust_loc['lat_long'] = cust_loc.apply(lambda x: get_lat_long(x['city'], x['state']), axis=1)
cust_loc[['cust_lat', 'cust_long']] = pd.DataFrame(cust_loc['lat_long'].tolist(), index=cust_loc.index)

In [35]:
cust_loc

,city,state,lat_long,cust_lat,cust_long
0,Moravian Falls,NC,"(36.102686500000004, -81.18158238008564)",36.102687,-81.181582
1,Orient,WA,"(48.8660142, -118.2027814)",48.866014,-118.202781
2,Malad City,ID,"(42.1915872, -112.250798)",42.191587,-112.250798
3,Boulder,MT,"(46.236595, -112.120834)",46.236595,-112.120834
4,Doe Hill,VA,"(38.4320658, -79.4444882)",38.432066,-79.444488
...,...,...,...,...,...
1186804,Nicholson,PA,"(41.6261882, -75.78047)",41.626188,-75.780470
1190005,Lockhart,TX,"(29.8832105, -97.6736292)",29.883211,-97.673629
1230734,Moss Point,MS,"(30.4115881, -88.5344601)",30.411588,-88.534460
1258483,Queen Anne,MD,"(38.919559, -75.9528827)",38.919559,-75.952883
1275589,Freeport,ME,"(43.857307, -70.10376)",43.857307,-70.103760

In [36]:
#saving this for future use, since it takes a while to run
cust_loc.to_csv("customer_locations.csv", index=False)